$primary: #16263d;
$subcolor: #db2c32;
$grey: #adb1b5;
$grey-light: #eaedf2;
$blue-light: #dfeffe;

$breakpoint-mobile-s: 320px;
$breakpoint-mobile-l: 425px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
